{% extends "admin/admin/base.html" %}
{% load i18n %}
{% block blockbots %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
 {% endblock %}

 {% block extrahead %} 
  <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

 {% endblock %}
{% block title %}{{ title }}实时监控{% endblock %}
{% block extracsscss %} 

    <!-- Bootstrap -->
	 <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"  />
	<link href="/static/css/bootstrap-responsive.css"  type="text/css" rel="stylesheet" />
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

 {% endblock %}
 {% block basecss %} {% endblock %}
  {% block breadcrumbs %}
{% endblock %}
{%block content %}
<head>

<style type="text/css">
.hezc{width:1280px; height:500px;line-height:200px;font-size:180px;text-align:center;display:table-cell; vertical-align:middle;border:1px solid #0000}
.hezcimg{  width:1280px; height:500px;display:block; }
</style>

 
<script>

var stayerinfo;
function getMousePos1(event) {
	var e = event || window.event;
	x = e.clientX;
	y = e.clientY;
	alert('x: ' + x + '\ny: ' + y);


	return {'x':e.clientX,'y':e.clientY}
}

function getMousePos(event) {
	
	$('#myModal').modal( );
   initform();
  // var s1 = document.getElementById("showmap");
  // s1.style.display="none";  
   
   var s3 = document.getElementById("showsubmit");
   s3.style.display = "block";
    var s6 = document.getElementById("input1");
   s6.style.display="block";
   var s4 = document.getElementById("input2");
   s4.style.display="none";
   var s5 = document.getElementById("input3");
   s5.style.display="none";
   var s11 = document.getElementById("myModalLabel");
	s11.innerHTML = "添加基站位置信息";
   
	var div1 = document.getElementById("pic1");
	//alert(locationLeft(div1));
	//alert(locationTop(div1));
	var e = event || window.event;
	var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
	var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
	var x = e.pageX || e.clientX + scrollX;
	var y = e.pageY || e.clientY + scrollY;
	//alert('x: ' + (x-locationLeft(div1)) + '\ny: ' + (y-locationTop(div1)));
	 document.getElementById("xpixel").value=(x-locationLeft(div1));
	 document.getElementById("ypixel").value=(y-locationTop(div1));
	 var s4 = document.getElementById("whichmap");
	 s4.value = "{{mapname}}";
	 var s5 = document.getElementById("hidden1");
	 s5.value = "{{mapid}}";
	return { 'x': x, 'y': y };
}


//find the screen location of an element
function locationLeft(element){
    offsetTotal = element.offsetLeft;
    scrollTotal = 0; //element.scrollLeft but we dont want to deal with scrolling - already in page coords
    if (element.tagName != "BODY"){
       if (element.offsetParent != null)
          return offsetTotal+scrollTotal+locationLeft(element.offsetParent);
    }
    return offsetTotal+scrollTotal;
}
//find the screen location of an element
function locationTop(element){
    offsetTotal = element.offsetTop;
    scrollTotal = 0; //element.scrollTop but we dont want to deal with scrolling - already in page coords
    if (element.tagName != "BODY"){
       if (element.offsetParent != null)
          return offsetTotal+scrollTotal+locationTop(element.offsetParent);
    }
    return offsetTotal+scrollTotal;
}
function showmapdiv(){
 	 
	
	var mapid = "{{mapid}}" ;
	getfromurl(mapid);
}

 
function possubmit(){
    
   var s2 = document.getElementById("f");
   s2.submit();
}
function editsubmit(){
	$("#hidden2").val("2"); //编辑
	var s2 = document.getElementById("f");
    s2.submit();
}
function delsubmit(){
	$("#hidden2").val("3"); //删除
	var s2 = document.getElementById("f");
    s2.submit();
}
function getfromurl(mapid){
$.ajax({
type:"GET" ,
url:"/showstayer?mapid="+mapid ,
cache:false,
dataType:"text",
success:function(data){
dealdata(data);
}
}); 
}
var stayerinfo;
function dealdata(data){
	stayerinfo = $.parseJSON(data);
	var mystrs="";
	var div1 = document.getElementById("apholder");
	var div2 = document.getElementById("pic1");
	for (var onestayer in stayerinfo) {
		xx = ( (stayerinfo[onestayer].x)+locationLeft(div2));
		yy = ( (stayerinfo[onestayer].y)+locationTop(div2));
		mystrs += ' <img src="/static/img/baseAP_green.png	" alt="'+stayerinfo[onestayer].addr+'"   style=" position:absolute;left:'+xx+'px  ;top:'+yy+'px  ;  "'+'  id="'+stayerinfo[onestayer].id+'"  onclick="showstayerInfo('+stayerinfo[onestayer].id +');"   data-toggle="modal" data-target="#myModal"  />  ';
	 }
	div1.innerHTML=mystrs; 

	 
}

function showstayerInfo(addressid){
	 initform();
	var ss4 = document.getElementById("whichmap");
 ss4.value = "{{mapname}}";
 var ss5 = document.getElementById("hidden1");
 ss5.value = "{{mapid}}";
	var s1 = document.getElementById("myModalLabel");
	s1.innerHTML = "编辑基站位置信息";
   var s4 = document.getElementById("input1");
   s4.style.display="none";
   var s5 = document.getElementById("input3");
   s5.style.display="block";
   var s6 = document.getElementById("input2");
   s6.style.display="block";
 
	for (var onestayer in stayerinfo) {
		if (stayerinfo[onestayer].id == addressid){
			$("#addressid").val(stayerinfo[onestayer].id);
			$("#mapcomments").val( stayerinfo[onestayer].addr);
			$("#xpixel").val(  stayerinfo[onestayer].x);
			
			$("#xpixel").val( stayerinfo[onestayer].x)
			$("#ypixel").val(  stayerinfo[onestayer].y);
			$("#apid").val(  stayerinfo[onestayer].stayno);
			$("#apcomments").val(  stayerinfo[onestayer].staycomments); 
			 
			break;
		}
	}


}
function initform() {
	$("#addressid").val("");
	$("#mapcomments").val( "请简要说明位置！");
	$("#xpixel").val(  "");
	$("#ypixel").val(  "");
	$("#apid").val(  "");
	$("#apcomments").val( "请简要说明基站！"); 

}
  showmapdiv();
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>地图标点</title></head>
<body>
 

<div id=showmap   >
<div class="hezc" id="main" >
<img src="{{mapsrcfile}}"  class="hezcimg" id="pic1" onclick="javascript:getMousePos();"/>
<div id="imgholder">
	
</div>
<div id="apholder"></div>
</div>
</div>
 






<!-- Modal -->
 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加基站位置信息</h4>
      </div>
      <div class="modal-body"  id="mymodalbodytxt">
 <div id=showsubmit   >

<form id="f" action="/possubmit" method="post">

<br>
<a>哪张地图：</a><input type="text"  value="maps" id="whichmap"  readonly="readonly"><br>
<input type="hidden"  value=""  id="hidden1" name="hidden1">
<input type="hidden"  value=""  id="hidden2" name="hidden2">
<input type="hidden"  value=""  id="addressid" name="addressid">
<a>位置：</a><input type="text"  value="请简要说明位置！" id="mapcomments" name="mapcomments"><br>
<a>x轴：</a><input type="text"  value="xxx"  id="xpixel" name="xpixel"  readonly="readonly"><br>
<a>y轴：</a><input type="text" value="yyy" id="ypixel" name="ypixel"  readonly="readonly"><br>
<a>基站唯一码：</a><input type="text"  value=" " id="apid" name="apname"><br>
<a>基站说明：</a><input type="text"  value="请简要说明基站！" id="apcomments" name="apcomments"><br>
<input type="button" onclick="possubmit();" id="input1" value="添加">
<input type="button" onclick="editsubmit();" id="input2" value="编辑">
<input type="button" onclick="delsubmit();" id="input3" value="删除">
<br></form>


</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
       <!--- <button type="button" class="btn btn-primary">Save changes</button>  -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>

{% endblock %}