{% extends "admin/admin/base.html" %}
{% load i18n %}
{% block blockbots %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
 {% endblock %}

 {% block extrahead %} 
  <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

 {% endblock %}
{% block title %}{{ title }}人员定位系统 | 管理{% endblock %}
{% block extracsscss %} 

    <!-- Bootstrap -->
	 <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"  />
	<link href="/static/css/bootstrap-responsive.css"  type="text/css" rel="stylesheet" />
    

 {% endblock %}
 {% block branding %} {% endblock %}  

 {% block userloginmsg %}{% endblock %}

{% block nav-global %} {% endblock %}

